<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/01-basics.html">START</a></td> </tr>
      <tr> <td>09:05</td>  <td><a href="https://swcarpentry.github.io/git-novice/02-setup.html">Setting Up Git</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/git-novice/03-create.html">Creating a Repository</a></td> </tr>
      <tr> <td>09:25</td>  <td><a href="https://swcarpentry.github.io/git-novice/04-changes.html">Tracking Changes</a></td> </tr>
      <tr> <td>9:45</td>  <td><a href="https://swcarpentry.github.io/git-novice/05-history.html">Exploring History</a></td> </tr>
      <tr> <td>10:10</td>  <td><a href="https://swcarpentry.github.io/git-novice/06-ignore.html">Ignoring Things</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://swcarpentry.github.io/git-novice/07-github.html">Remotes in GitHub</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/08-collab.html">Collaborating</a></td> </tr>
      <tr> <td>11:25</td>  <td>Break</td> </tr>
      <tr> <td>11:40</td>  <td><a href="https://swcarpentry.github.io/git-novice/09-conflict.html">Conflicts</a></td> </tr>
      <tr> <td>11:55</td>  <td><a href="">Open Science</a></td> </tr>
      <tr> <td>12:05</td>  <td><a href="">Licensing</a></td> </tr>
      <tr> <td>12:10</td>  <td><a href="">Citation</a></td> </tr>
      <tr> <td>12:15</td>  <td><a href="">Hosting</a></td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
